force-app/main/default/flows/Account_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_No_Save_Text</name>
        <label>Assign No Save Text</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Final_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No records have been saved. See you!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Final_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OppId</name>
        <label>Assign OppId</label>
        <locationX>138</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Product_Loop.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity</name>
        <label>Assign Opportunity</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Products_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success_Text</name>
        <label>Assign Success Text</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Final_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The records have been successfully saved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Final_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dq</name>
        <label>dq</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Products_Page.Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Save_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Present</name>
        <label>Account Present</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Account_Screen</targetReference>
            </connector>
            <label>Has No Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Save_Records</name>
        <label>If Save Records</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Save_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Save</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Save Records</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Stage_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Account flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account flow</label>
    <loops>
        <name>Product_Loop</name>
        <label>Assign OppId In Products</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <collectionReference>Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OppId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Success_Text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Product_Loop</targetReference>
        </connector>
        <inputReference>varOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product</name>
        <label>Create Product</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Product_Loop</targetReference>
        </connector>
        <inputReference>Product_Loop</inputReference>
    </recordCreates>
    <screens>
        <name>Account_Screen</name>
        <label>Account Screen</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Screen</targetReference>
        </connector>
        <fields>
            <name>Choose_Account</name>
            <extensionName>c:accountChoose</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Final_Text</name>
        <label>Display Final Text</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final_Text_Label</name>
            <fieldText>&lt;p&gt;{!Final_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Screen</name>
        <label>Opportunity Screen</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>Stage_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Date</name>
            <dataType>Date</dataType>
            <fieldText>Closed Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Products_Screen</name>
        <label>Products Screen</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dq</targetReference>
        </connector>
        <fields>
            <name>Products_Page</name>
            <extensionName>c:productsCreation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Save_Data</name>
        <label>Screen Save Data</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Save_Records</targetReference>
        </connector>
        <fields>
            <name>Label_Save</name>
            <fieldText>&lt;p&gt;Save all entered data?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_Save</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Save</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Final_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
